
#buttonSmall {
  border-radius:25px;
  border:solid black 2px;
}
#buttonSmall:hover {
  border-color:red;
}
#kspImg {
  width:355px;
  height:200px;
  border:2px solid blue;
  border-radius:5px;
}
#kspImg:hover {
  border-color:red;
}
#headingOne{
  margin:auto;
  text-decoration:underline;
}
