
#buttonSmall {
  border-radius:25px;
  border:solid black 2px;
  background-color:#20B2AA;
}
#buttonSmall:hover {
  border-color:red;
  background-color:#20B2AA;
}
#kspImg {
  width:355px;
  height:200px;
  border:2px solid blue;
  border-radius:5px;
}
#kspImg:hover {
  border-color:red;
}
#headingOne{
  text-align:center;
  text-decoration: underline;
}
* {
  background-color: #90EE90;
}
